<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CollabConnectionString" connectionString="Server=tcp:prod-hive-sql-server.database.windows.net,1433;Initial Catalog=collab-prod-hive-sql-db;Persist Security Info=False;User ID=collab_prod_datawriter;Password=jvGWjo$98hT7r#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="BlobConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=prodhivestorageaccount;AccountKey=uEc4ECFYdC0s9/OPuA8mzWsPejh0BDq9XyyltO+ElHfcUOq6Xf7U4WhJasYIG9StPIAi7IGNpDPZ8eZKrP+2uA==;EndpointSuffix=core.windows.net" />
    <add name="JoomlaConnectionString" connectionString="Server=prod-hive-mysql-database.mysql.database.azure.com; database=demo; Uid=prod_hive_qi@prod-hive-mysql-database; Pwd=xNleJ*lm!@40JI&amp;$d; SslMode=Preferred;" />
  </connectionStrings>
  <appSettings>
    <add key="CommunityId" value="C910F235-91D2-4A47-97B0-F554F29952E3" />
    <add key ="Website" value="demo.hivenetworks.com"/>
    <add key ="UserName" value="bill@hivenetworks.com"/>
    <add key ="Password" value="Hive3930!"/>
    <add key ="BlobContainer" value="fileshare-prod-hive-blobcontainer"/>
    <add key="SessionCookie" value="NID=204=t1Ddl-RCSt38QoVilP9YFtX5jkFRJNRowdVZ8-UFwxnIKTV2RjGDIVzhy75XQvYrbuLLpbCi9UqSsgYlPnogcGnzvl90057fSrArMvACPPi4pWPQSxSneIWGGg9hIKJYCp8FKs8o8scx17yhg8oFWj1W7oJkDC7P4Hrzh2EDTe0; joomla_user_state=logged_in; 6c2c8924f1f6eb5f7781d19482ef7c74=go51n6vtidskfal2kol10a18qv; _gid=GA1.2.1503394258.1589381882; _gat_gtag_UA_155185163_1=1; _ga=GA1.2.512829510.1589381882" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>